extends ../layout

block content
    div
        form(method='POST', action='/sign_in')
            p Email:
                input(name='email', type='email')
                p= email_not_exist

            p Password:
                input(name='password', type='password')
                p= invalid_password

            button(type='submit') Sign in