extends ../layout

block content
    div
        form(method='POST', action='/sign_up')
            p Username:
                input(name='username', type='text')
                p= username_exist

            p Email:
                input(name='email', type='email')
                p= email_exist

            p Password:
                input(name='password', type='password')
                p= password_error

            p Repeat:
                input(name='repassword', type='password')

            button(type='submit') Sign up

            p= total_error