doctype html

html
    head
        title= title

    body
        div
            p=username
            a(href='/account/sign_out') Sign out
            br
            a(href='/home') Home

        block content
