extends layout

block content
    div
        p Start to broadcasting video

        ul(id='messages')

    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='/javascripts/realtime_chat_watcher.js')