extends layout/app

block content
    div(class='video_recorder')
        video(id='video_player' width=960 height=540 autoplay)
    div(class='stream_info')
        form(action='' id='form')
            div(id='broadcast_title')
                input(class='broadcast_title' name='title' type='text' placeholder='Title')
            div(id='user_checkboxes')
                each user in userList
                    div
                        label(id='user_item')
                            input(type='checkbox' name=user.username)
                            |
                            = '  '+user.username
            button(class='record_btn') Record
    div(class='watchers_chat')
        h3(style='color:white; padding-bottom: 5px;') Messages:
        ul(id='messages')

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/realtime_broadcaster.js')
