extends layout/app

block content
    div
        p Start to broadcasting video

        video(id='video_player' width=640 height=480 autoplay)

        form(action='' id='form')
            div(id='broadcast_title')
                label Title:
                input(name='title', type='text')

            div(id='user_checkboxes')
                each user in userList
                    input(type='checkbox' name=user.username)
                    label= user.username
                    br
            p
            button Record


        ul(id='messages')

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/MediaStreamRecorder.js')
    script(src='/javascripts/realtime_broadcaster.js')
