extends layout/app

block content
    h3(class='ended_live') This live video was ended!!!
    p(style='text-align:center; margin-top:40px')
        a(class='ended_live_back' href='/home/invited') Click to go back