extends layout/home_app

block content
    div
        p
            a(class='broadcast_link', href='/home/broadcast') Start live video stream

        p
            a(class='invited_link', href='/home/invited') Watch other users video