extends layout/app

block content
    div
        if list.length !== 0
            ul
            each item in list
                li(class='live_item')
                    label(style='color: white; ')=`Course name: ${item.title} by ${item.owner}`
                    br
                    br
                    if !item.finished
                        a(class='live_watch' href=`/home/watch/${item._id}`) Click to watch!!!
                        br
                    else
                        label(style='color: red;') 'This live was ended.'
                    br
        else
            p=error
