extends layout/app

block content
    div(class='video_recorder')
        video(id='video_player' width=960 height=540)
    div(class='watchers_chat' style='visibility: visible')
        h3(style='color:white; padding-bottom: 5px;') Messages:
        ul(id='messages_watch')

        form(class='send_msg' action='')
            input(class='msg_text' id='new_msg')
            button(class='msg_btn') Send

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/realtime_watcher.js')