extends layout/auth_app

block content
    div
        ul(id='messages')

        video(id='video_player' width=640 height=480)

        form(action='')
            input(id='new_msg')
            button Send

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/realtime_watcher.js')