<!DOCTYPE html>
<html>
<head><title></title></head>
<body>
<div><p></p><a href="/account/sign_out">Sign out</a><br><a href="/home">Home</a></div>
<div><br><br>
    <video id="video_player" width="640" height="480"></video>
    <ul id="messages"></ul>
    <form action=""><input id="new_msg">
        <button>Send</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/realtime_watcher.js"></script>
</body>
</html>